.blogs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  &_blog {
    height: 350px;
    background: rgba(255, 255, 255, 0.775);
    display:flex;
    justify-content:center;
    align-items:center;

    a {
      display:flex;
      flex-direction: column;
      justify-content: center;
    }
    &_image {
      margin: auto;
      height: 150px;
      width: 150px;
      border-radius: 75px;
      -webkit-border-radius: 75px;
      -moz-border-radius: 75px;
      -ms-border-radius: 75px;
      -o-border-radius: 75px;
    }

    &_title {
      color: black;
      font-size: 2rem;
      text-align: center;
      padding-top: 1rem;
    }

    &_desc {
      color: black;
      text-align: center;
      padding-bottom: 2rem;
    }

    &_const {
      color: black;
      text-align: center;
    }
  }
}
